CompareSystemVersion/Service References/SystemSvc/SSOSystem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SSOSystem" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8012/Service/SSOSystem.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8012/Service/SSOSystem.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8012/Service/SSOSystem.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITGB.UIS.SSO.BLL.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISSOSystem_GetAllSystems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSystems" />
  </wsdl:message>
  <wsdl:message name="ISSOSystem_GetAllSystems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSystemsResponse" />
  </wsdl:message>
  <wsdl:message name="ISSOSystem_GetAllSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSystem" />
  </wsdl:message>
  <wsdl:message name="ISSOSystem_GetAllSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSystemResponse" />
  </wsdl:message>
  <wsdl:message name="ISSOSystem_GetUserAvailableSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAvailableSystem" />
  </wsdl:message>
  <wsdl:message name="ISSOSystem_GetUserAvailableSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAvailableSystemResponse" />
  </wsdl:message>
  <wsdl:portType name="ISSOSystem">
    <wsdl:operation name="GetAllSystems">
      <wsdl:input wsaw:Action="http://tempuri.org/ISSOSystem/GetAllSystems" message="tns:ISSOSystem_GetAllSystems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISSOSystem/GetAllSystemsResponse" message="tns:ISSOSystem_GetAllSystems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISSOSystem/GetAllSystem" message="tns:ISSOSystem_GetAllSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISSOSystem/GetAllSystemResponse" message="tns:ISSOSystem_GetAllSystem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAvailableSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/ISSOSystem/GetUserAvailableSystem" message="tns:ISSOSystem_GetUserAvailableSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISSOSystem/GetUserAvailableSystemResponse" message="tns:ISSOSystem_GetUserAvailableSystem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISSOSystem" type="tns:ISSOSystem">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSystems">
      <soap:operation soapAction="http://tempuri.org/ISSOSystem/GetAllSystems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSystem">
      <soap:operation soapAction="http://tempuri.org/ISSOSystem/GetAllSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAvailableSystem">
      <soap:operation soapAction="http://tempuri.org/ISSOSystem/GetUserAvailableSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSOSystem">
    <wsdl:port name="BasicHttpBinding_ISSOSystem" binding="tns:BasicHttpBinding_ISSOSystem">
      <soap:address location="http://localhost:8012/Service/SSOSystem.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>