CompareSystemVersion/Service References/SystemSvc/SSOSystem1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITGB.UIS.SSO.BLL.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITGB.UIS.SSO.BLL.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSystemEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemEntity" nillable="true" type="tns:SystemEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemEntity" nillable="true" type="tns:ArrayOfSystemEntity" />
  <xs:complexType name="SystemEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemId" type="xs:int" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemEntity" nillable="true" type="tns:SystemEntity" />
</xs:schema>