CompareSystemVersion/Service References/SystemSvc/SSOSystem2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/Service/SSOSystem.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITGB.UIS.SSO.BLL.Entities" />
  <xs:element name="GetAllSystems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ITGB.UIS.SSO.BLL.Entities" minOccurs="0" name="GetAllSystemsResult" nillable="true" type="q1:ArrayOfSystemEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isEnable" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ITGB.UIS.SSO.BLL.Entities" minOccurs="0" name="GetAllSystemResult" nillable="true" type="q2:ArrayOfSystemEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAvailableSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAvailableSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ITGB.UIS.SSO.BLL.Entities" minOccurs="0" name="GetUserAvailableSystemResult" nillable="true" type="q3:ArrayOfSystemEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>